
# Frontend dependencies
web/node_modules
web/.pnp
web/.pnp.js

# Frontend testing
web/coverage

# Frontend production
web/build

# Frontend misc
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/yarn.lock

# Server dependencies
server/node_modules
server/.pnp
server/.pnp.js
server/package-lock.json

# DSStore file
.DS_Store
# Local Netlify folder
.netlify
