.ListHeading {
    margin-top: 20px;
    text-align: center;
}

.ListHeading h1 {
    font-family: Inter-Bold;
}

.ListSearch {
    margin: 10px 50px 0px 50px;
}

.SubmitButton {
    float: left;
    position: static;
    background-color: var(--primary-blue) !important;
    border: none;
    font-weight: bold;
}

.DesktopTable {
    margin: 10px 50px 0px 50px;
}

.MobileTable {
    margin: 10px 5px 0px 5px;
}

.EditButton {
    padding: 5px;
    width: 50px;
    color: white;
    border-radius: 100px;
    background-color: var(--primary-red);
    text-align: center;
    border: none;
}

.EditButton:hover {
    padding: 5px;
    width: 50px;
    color: white;
    border-radius: 100px;
    background-color: var(--hover-red);
    text-align: center;
    border: none;
}