.ListHeading {
    margin-top: 20px;
    text-align: center;
}

.ListHeading h1 {
    font-family: Inter-Bold;
}

.ListSearch {
    margin: 10px 50px 0px 50px;
}

.SubmitButton {
    float: left;
    position: static;
    background-color: var(--primary-blue) !important;
    border: none;
    font-weight: bold;
    z-index: 0 !important;
}

.SubmitButtonMobile {
    float: left;
    position: static;
    background-color: var(--primary-blue) !important;
    border: none;
    font-weight: bold;
    width: 100%;
    margin: 0px 0px 0px 0px !important;
}

.DesktopTable {
    margin: 10px 50px 0px 50px;
}

.MobileTable {
    margin: 10px 5px 0px 5px;
}

.EditButton {
    padding: 5px;
    width: 50px;
    color: white;
    border-radius: 100px;
    background-color: var(--primary-red);
    text-align: center;
    border: none;
}

.EditButton:hover {
    padding: 5px;
    width: 50px;
    color: white;
    border-radius: 100px;
    background-color: var(--hover-red);
    text-align: center;
    border: none;
}

.SearchSuggestionContainer {
    background-color: #fff;
    z-index: 1;
    position: absolute;
    text-align: left;
    margin-top: 10px;
    padding-top: 10px;
    align-self: right;
}