.demo {
    height: 80%;
    width: auto;
    position: absolute;
    float: right;
    right: 0;
    top: 10%;
    z-index: -1;
}

.mobileDemo {
    height: 60%;
    width: auto;
    position: absolute;
    float: right;
    right: 5px;
    top: 25%;
    z-index: -1;
}

.Heading {
    margin-top: 200px;
    text-align: left;
    margin-left: 20%;
}

@media screen and (max-width: 1275px) {
    .demo {
        height: 60%;
        top: 25%;
    }
}

@media screen and (max-width: 1060px) {
    .demo{display: none;}
}

@media screen and (max-width: 800px) {
    .mobileDemo {
        display: none;
    }
    .Heading {
        margin-left: 0%;
        text-align: center;
    }
}

.Heading h1 {
    font-family: Inter-Bold;
}

.Heading h4 {
    font-family: Inter-Medium;
}

.StepContainer {
    text-align: center;
    bottom: 0px;
    margin-top: 250px;
}

.StepContainer h1 {
    text-align: center;
    bottom: 0px;
    font-family: Inter-Bold;
}

.DesktopCards {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.GreenBlob {
    position: absolute;
    z-index: -1;
    margin-left: -200px;
    margin-top: -20%;
}

.BlueBlob {
    position: absolute;
    z-index: -1;
    right: 0px;
    margin-top: -20%;
}

.MobileGreenBlob {
    position: absolute;
    z-index: -1;
    margin-left: -50%;
    margin-top: 0%;
}

.MobileBlueBlob {
    position: absolute;
    z-index: -1;
    right: 0px;
    margin-top: -20%;
}

.About {
    font-family: Inter; 
    padding-bottom: 150px;
    text-align: center;
    margin-top: 150px;
    width: 900px;
    margin-left: calc(50% - 450px);
}
.About h1 {
    font-family: Inter-Bold;
}

.AboutMobile {
    font-family: Inter; 
    padding-bottom: 150px;
    text-align: center;
    width: 80%;
    /* margin: calc(50% - 200px); */
    margin: auto;
    margin-top: 150px;
}

.AboutMobile h1 {
    font-family: Inter-Bold;
}

.GetStarted {
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    font-family: Inter-Bold;
    border: none;
    margin-top: 50px;
    position: relative;
    transition: 800ms ease all;
} 

.GetStarted:hover {
    background-color: #2eff89;
}

.GetStarted:before, .GetStarted::after {
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #ffffff;
    transition:400ms ease all; content: '';
}

.GetStarted::after {
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

.GetStarted:hover::before,.GetStarted:hover::after {
    width:100%;
    transition:800ms ease all;
}