.SmartSave {
    font-family: Inter-Bold;
    pointer-events: none;
}

.NavContainer {
    font-family: Inter-Bold;
    margin: 5px 50px 0px 50px;
    border-bottom: 1px solid var(--gray);
}

.StartButton {
    background-color: var(--primary-blue);
    color: #ffff;
    padding: 10px 10px 10px 10px;
    width: 150px;
    border-radius: 100px;
    text-align: center;
    font-family: Inter-Bold;
}

.StartButton:hover {
    background-color: var(--hover-blue);
    color: #eeeeee;
    padding: 10px 10px 10px 10px;
    width: 150px;
    border-radius: 100px;
    text-align: center;
    font-family: Inter-Bold;
}

.NavContainerMobile {
    font-family: Inter-Bold;
    margin: 10px 5px 0px 5px;
    border-bottom: 1px solid var(--gray);
}