.SmartSave {
    font-family: Inter-Bold;
    pointer-events: none;
}

.NavContainer {
    font-family: Inter-Bold;
    margin: 10px 50px 0px 50px;
    border-bottom: 1px solid rgba(39, 64, 96, 0.5);
}

.StartButton {
    background-color: #1DA1F2;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    width: 150px;
    border-radius: 100px;
    text-align: center;
    font-family: Inter-Bold;
}

.StartButton:hover {
    background-color: #0a88d6;
    color: #eeeeee;
    padding: 10px 10px 10px 10px;
    width: 150px;
    border-radius: 100px;
    text-align: center;
    font-family: Inter-Bold;
}

.NavContainerMobile {
    font-family: Inter-Bold;
    margin: 10px 5px 0px 5px;
    border-bottom: 1px solid rgba(39, 64, 96, 0.5);
}