.raccordionContainer {
    box-shadow: 0px 2px 15px var(--box-shadow-color);
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
}

.ItemSlide {
    margin: 0px 10px 0px 50px;
    padding: 10px 0px 10px 0px;
}

.StoreColumn {
    width: 50px;
    padding: 1px 0px 0px 0px;
    margin: 5px 15px 0px 0px;
    float: left;
}

.StoreColumn h6 {
    opacity: 0.5;
}

.UtilButton {
    background-color: #eaf0f6;
    padding: 0.5em 0.6em;
    border-radius: 50%;
    color: #5a698b;
    border: none;
    margin: 15px 15px 15px 0px;
    display: inline-block;
}

.UtilButton:Hover {
    background-color: #d3dae1;
    padding: 0.5em 0.6em;
    border-radius: 50%;
    color: #5a698b;
    border: none;
    margin: 15px 15px 15px 0px;
    display: inline-block;
}

.UtilButtonMobile {
    display: inline-block;
    padding: 0.5em 0.6em;
    border-radius: 50%;
    color: #5a698b;
    border: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid;
    border-color: #cdcdcd;
    color: var(--primary-blue);
}

.UtilButtonMobile:hover {
    display: inline-block;
    padding: 0.5em 0.6em;
    border-radius: 50%;
    border: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid;
    border-color: #5f5f5f;
    color: var(--hover-blue);
}

.ViewMobile {
    display: inline-block;
    padding: 0.5em 0.6em;
    border-radius: 50px;
    color: #fff;
    border: none;
    background-color: var(--primary-blue);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.ViewMobile:Hover {
    display: inline-block;
    padding: 0.5em 0.6em;
    border-radius: 50px;
    color: #fff;
    border: none;
    background-color: var(--hover-blue);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.TotalPrice {
    background-color: #e4f7ee;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: #42927a;
    border: none;
    margin: 15px 0px 15px 0px;
}

.ViewCatalog {
    background-color: #eaf0f6;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
    color: #5a698b;
    border: none;
    margin: 15px 0px 15px 0px;
}

.ViewCatalog:hover {
    background-color: #d3dae1;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: #5a698b;
    border: none;
    margin: 15px 0px 15px 0px;
}

.raccordionContainerMobile {
    box-shadow: 0px 4px 15px var(--box-shadow-color);
    width: 95%;
    height: auto;
    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
}

.raccordionContainerMobile h6 h3 {
    box-shadow: 0px 4px 15px var(--box-shadow-color);
    width: 95%;
    height: auto;
    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
}

.raccordionContainer hr{
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.raccordionHeader {
    display: flex;
    position: relative;
}

.raccordionHeader p {
    margin: 0;
    padding: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.raccordionHeader h3 {
    margin: 0;
    font-size: 23;
}

.accordionStore {
    margin-left: 10px;
}

.raccordionStore img {
    height: 50px;
    margin-left: 5px;
}

.raccordionName {
    position: absolute;
    left: 20%;
}

.raccordionProductName {
    position: absolute;
    text-align: left;
    right: 20%;
    width: 60%;
}

.raccordionTotal {
    position: absolute;
    right: 5%;
}

.raccordionBody {
    padding: 5px;
    transition: 0.3s ease;
}

.raccordionBody p{
    color: rgba(0, 0, 0, 0.75);
    margin-top: 5px;
}

@media screen and (max-width: 650px) {
    .accordionQuery{
        display: none;
    }
    .raccordionBody {
        font-size: 15px;
    }
}