@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./Static/Fonts/Inter/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter-Bold';
  src: local('Inter-Bold'), url(./Static/Fonts/Inter/Inter-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter-Medium';
  src: local('Inter-Medium'), url(./Static/Fonts/Inter/Inter-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Inter, sans-serif;
}