@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./Static/Fonts/Inter/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter-Bold';
  src: local('Inter-Bold'), url(./Static/Fonts/Inter/Inter-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter-Medium';
  src: local('Inter-Medium'), url(./Static/Fonts/Inter/Inter-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-blue: #1DA1F2;
  --hover-blue: #0a88d6;

  --primary-red: #e92a6c;
  --hover-red: #ff0059;

  --white: #ffffff;
  --gray: rgba(39, 64, 96, 0.5);
  --box-shadow-color: rgba(0, 0, 0, 0.25);
}

code {
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--primary-blue);
  border-radius: 5px;
}::-webkit-scrollbar-button{
  background: transparent;
}